<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isel.gomes.beatbybit" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rec"
            android:label="@string/title_activity_rec"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.isel.gomes.beatbybit.MainActivity" />
        </activity>
        <activity
            android:name=".Cooper"
            android:label="@string/title_activity_cooper"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.isel.gomes.beatbybit.MainActivity" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".Activities"
            android:label="@string/title_activity_activities"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.isel.gomes.beatbybit.MainActivity" />
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-un624qhagsgq8wb" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".services.download.DownService"/>
        <receiver android:name=".services.download.DownReceiver">
            <intent-filter>
                <action android:name="pt.isel.gomes.beatbybit.ACTION.start" />
                <action android:name="pt.isel.gomes.beatbybit.ACTION.stop" />
            </intent-filter>

        </receiver>
        <provider android:name=".services.download.DownProvider"
            android:authorities="com.example.provider.DownProvider">
        </provider>
    </application>

</manifest>
